-- RUN THIS IN SUPABASE SQL EDITOR --
ALTER TABLE items ADD COLUMN IF NOT EXISTS last_scanned_at TIMESTAMP WITH TIME ZONE;
ALTER TABLE items ADD COLUMN IF NOT EXISTS last_scanned_by TEXT;

-- Update staff_items view to include new columns
CREATE OR REPLACE VIEW staff_items AS
SELECT id, name, sku, barcode, description, category_id, quantity, unit, location, image_url, min_stock_level, last_scanned_at, last_scanned_by, created_at, updated_at
FROM items;

